/* generic */

* {
	box-sizing: border-box;
    margin: 0;
    outline: inherit;
	border: none;
   	padding: 0;
 	background: none;
	color: inherit;
	font: inherit;
	text-decoration: none;
	list-style-type: none;
}

a, button {
	cursor: pointer;
}

/* body, containers, header, main, footer */

body {
	--color-body: rgb(50, 25, 50);
	--color-back: rgb( 0, 220, 220);
	--color-form: #9EF8B8; /*rgb(240, 200, 140);*/
	--color-input: rgb(255, 255, 255);
	--color-menu: #00CA78; /*rgb(245, 149, 146);*/

    background-color: var(--color-body);
    font-family: monospace, "Trebuchet MS", fantasy;
    font-size: 0.95em;
}

.containerH {
	width: 80%;
    margin-left: auto;
    margin-right: auto;

	min-height: 100vh; /* allow child (.containerV) to be centered vertical */
	line-height: 100vh; /* allow child (.containerV) to be centered vertical */
}

.containerV {
	width: 100%;
	background-color: var(--color-form);
    text-align: center;

	display: inline-block; /* center vertical to parent (.containerH) */
	line-height: normal; /* center vertical to parent (.containerH) */
	vertical-align: middle; /* center vertical to parent (.containerH) */
	position: relative;
}

main {
	min-height: calc(50vh); /* allow child (.form) to be centered vertical */
	line-height: 50vh; /* allow child (.form) to be centered vertical */
}

header {
	margin-bottom: 1em;
    text-align: center;
    height: 4em;
}

header * {
	display: inline-block;
	margin-top: 1em;
}

header h1 {
	color: var(--color-body);
	/*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
	font-size: 1.4em;
	font-weight: 600;
	/*font-style: italic;*/
}

header .menu {
	margin-left: 1em;
}

header .menu * {
	margin: 0 .25em;
	border-radius: .15em .15em .75em .15em;
	box-shadow: 1px 2px 4px var(--color-body);
	padding: 0.25em;
	background-color: var(--color-menu);
}

header .menu *:hover {
	box-shadow: 1px 2px 4px var(--color-menu);
}

.corner {
	height: 9em; 
	width: 9em;
	position: absolute;
	bottom: 0;
	right: 0;
}

.corner polygon {
	fill: var(--color-menu);
} 

footer {
	font-size: .8em;
	-ms-transform: rotate(-45deg); /* IE 9 */
	-webkit-transform: rotate(-45deg); /* Safari 3-8 */
	transform: rotate(-45deg);
	position: absolute;
	bottom: 2.75em;
	right: 0;
}

/* forms */

.form {
	width: 90%;
	margin-left: auto;
    margin-right: auto;
	background-color: transparent;
	text-align: center;

	display: inline-block; /* center vertical to parent (.main) */
	line-height: normal; /* center vertical to parent (.main) */
	vertical-align: middle; /* center vertical to parent (.main) */
}

.form label {
	padding-top: .5em;
}

.form .data,
.form .message,
.form .panel {
	width: 35em;
    margin-left: auto;
	margin-right: auto;
}

.form .data {
	padding-top: 1em;
	text-align: left;
}

.form .data > * {
	display: block;
}

.form.home .data {
	padding-bottom: 2em;
}

.form.home .data * {
	font-size: .8em;
	text-indent: 1em;
	text-align: justify;
	padding-bottom: 1em;
}

input, textarea {
    background-color: var(--color-input);
	padding: 0.25em;
	width: 100%;
}

input:disabled, textarea:disabled {
	opacity: .8;
}

.form .message {
	margin-top: 2em;
	font-size: .9em;
	text-align: center;
}

.form .message > * {
	display: inline-block;
	margin: .2em;
	padding: .2em;
	background-color: rgb(253, 202, 92);
}

.form .error {
	background-color: rgb(255, 133, 88);
}

.form .panel * {
	display: inline-block;
}

.form h2 {
	color: var(--color-body);
	font-size: 1.2em;
	font-weight: 300;
}

.form .menu {
	margin: 2em .5em;
}

.form .menu *,
.form .search-results * {
	margin: 0 .25em;
	border-radius: .15em .15em .75em .15em;
	box-shadow: 1px 2px 4px var(--color-body);
	border: 1px solid var(--color-menu);
	padding: 0.25em;
	background-color: var(--color-menu);
}
.form .menu *:disabled {
	background-color: transparent;
	box-shadow: 1px 2px 4px var(--color-menu);
	cursor: default;
}
.form .menu *:hover,
.form .search-results *:hover {
	box-shadow: 1px 2px 4px var(--color-menu);
}

.form .search-results * {
	margin-bottom: .75em;
	cursor: pointer;
}

.form .search-results {
	padding-bottom: .75em;
}

/* test form's questions and answers */

.add-question, 
.add-answer {
	margin: .5em 0;
	padding: 0 .75em;
	border-radius: .15em .15em .75em .15em;
	box-shadow: 1px 2px 4px var(--color-body);
	background-color: var(--color-menu);
}

.question {
	border: 1px solid var(--color-menu);
	margin: 1em 0;
	padding: 1em 1.5em 0 1em;
}

.answer {
	margin: .5em 0;
}

.question > *,
.answer > * {
	display: inline-block;
	vertical-align: top;
}

.question .part1, 
.answer .part1 {
	padding-right: .5em;
}

.question .part1 > *,
.answer .part1 > * {
	/*font-size: 1.1em;*/
	display: block;
	width: 100%;
	text-align: right;
}

.question .part1 .index > *,
.answer .part1 .index > * {
	font-weight: 300;
	display: inline-block;
}

.question .part1 button,
.answer .part1 button {
	width: .75em;
}

input[name=is_correct],
input[name=is_selected] {
	margin-right: .5em;
	width: initial;
}

.answer .part1 .index > .result {
	margin-right: .5em;
}

.question .part2 {width: calc(100% - 3em);}
.answer .part2 {width: calc(100% - 5em);}

.question .part3 > *, 
.answer .part3 > * {
	padding: 0 0 0 .25em;
	display: block;
}


/* responsive design

/* Extra small devices (phones, 420px and down) */
@media only screen and (max-width: 420px) {
	body {
		font-size: 0.9em;
	}

	.containerH {
		width: 100%;
	}

	header > * {
		display: block;
	}

	.form .data,
	.form .message,
	.form .panel {
		width: 20em;
	}

	.form .panel {
		padding-bottom: 7em; /* to control hiding from corner */
	}	
}

/* Small devices (phones, 420px and up) */
@media only screen and (min-width: 420px) {
	.containerH {
		width: 100%;
	}

	header > * {
		display: block;
	}

	.form .data,
	.form .message,
	.form .panel {
		width: 25em;
	}	

	.form .panel {
		padding-bottom: 7em; /* to control hiding from corner */
	}	
}
  
/* Small devices (portrait tablets and large phones, 640px and up) */
@media only screen and (min-width: 640px) {
	.containerH {
		width: 90%;
	}

	header > * {
		display: inline-block;
	}

	.form .data,
	.form .message,
	.form .panel {
		width: 30em;
	}	

	.form .panel {
		padding-bottom: 0; /* to control hiding from corner */
	}	
}
   
/* Medium devices (landscape tablets, 768px and up) 
@media only screen and (min-width: 768px) {

} */
   
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.containerH {
		width: 80%;
	}
}
   
/* Extra large devices (large laptops and desktops, 1200px and up) */ 
@media only screen and (min-width: 1200px) {
	.containerH {
		width: 70%;
	}
}